html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('bg.jpg');
    background-size: cover;
    font-family: ubuntu;
}

#corner {
    position: absolute;
    z-index: 998;
    width: 48px;
    height: 48px;
    top: 0;
    right: 0;
    border-bottom-left-radius: 50%;
    background: rgba(255,255,255, .4);
    border: 2px solid rgba(255,255,255, .8);
    border-top: none;
    border-right: none;
}

#shutdown {
    display: none;
    position: absolute;
    z-index: 999;
    width: 32px;
    height: 32px;
    top: 5px;
    right: 5px;
    background: url('system-shutdown.png') no-repeat center center;
    background-size: 100%;
    cursor: pointer;
}

#shutdown.can {
    display: block;
}

#message_table, #password_table {
    margin: auto;
    display: none;
}

.box-wrapper {
    display: table;
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.box {
    display: table-cell;
    width: auto;
    vertical-align: middle;
    text-align: center;
}

.content {
    background: rgba(255,255,255,.9);
    box-shadow: 0px 0px 5px rgba(0,0,0,.4);
    padding: 5px;
    border-radius: 3px;
}

.left, .right {
    float: left;
}

.left {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #999;
}

header {
    display: block;
    text-align: center;
    font-size: 1.4em;
}

#user_table tr, #session_table tr {
    cursor: pointer;
    text-align: left;
    -webkit-transition-duration: .5s;
    font-size: 1.2em;
}

#user_table tr:hover, #session_table tr:hover {
    text-shadow: 0px 0px 3px rgba(0,0,0,.4);
}

#user_table td:nth-child(2), #session_table td:nth-child(2) {
    padding-left: 5px;
}

#session_table td:nth-child(2) {
    padding-right: 3em;
}

#user_table img, #session_table img {
    width: 48px;
    height: 48px;
    border-radius: 3px;
}

td.countdown {
    opacity: 0;
    font-size: 1.1em;
    color: #454545;
    padding-right: 5px;
    width: 3em;
    -webkit-transition-duration: .5s;
    text-align: right;
}

.active td.countdown {
    opacity: 1;
}

tr.password, .other-user-login {
    display: none;
}

.session.active, .user.active {
    color: #9ED604;
}

.label {
    padding: 3px 4px;
    border: 1px solid #777;
    margin: 5px 0;
    border-radius: 3px;
    display: block;
    background: white;
}

.input {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    display: block;
    line-height: 1.4em;
    text-align: center;
}

.error .label, .pass-wrapper .error {
    border-color: red;
}

.pass-wrapper {
    display: none;
}
