html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('bg.jpg');
    background-size: cover;
}

.box-wrapper {
    display: table;
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.box {
    display: table-cell;
    width: auto;
    vertical-align: middle;
    text-align: center;
}

.content {
    background: rgba(255,255,255,.9);
    box-shadow: 0px 0px 5px rgba(0,0,0,.4);
    padding: 5px;
    border-radius: 3px;
}

#user_table tr {
    cursor: pointer;
    text-align: left;
    -webkit-transition-duration: .5s;
}

#user_table tr:hover {
    text-shadow: 0px 0px 3px rgba(0,0,0,.4);
}

#user_table td:nth-child(2) {
    padding-left: 5px;
}

#user_table img {
    width: 48px;
    height: 48px;
    border-radius: 3px;
}
